@import './variable';

@mixin text($fontWeight, $fontSize) {
  font-family: $mainFontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $mainTextColor;
}

@mixin textPosition($display, $justifyContent, $flexWrap) {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: $mainbackgroundColor;
}