.contain {
    min-height: 700px;
    background-color: #c199e1;
    border: 1px solid;

}

.skills {
    display: flex;
    justify-content: space-around;
    height: 500px;
    border: 1px solid;
    align-items: center;
    flex-wrap: wrap;
}

.head {
    display: flex;
    justify-content: center;
    background-color: #c199e1;
    min-height: 100px;
}

@media screen and (max-width: 406px) {
    .contain {
        min-height: 1200px;
    }

}