@import '../../style/sass/variable';
@import '../../style/sass/mixins';

.title {
  @include text(750, 30px);
  letter-spacing: 0;
  line-height: 1.15789em;
  word-wrap: break-word;
  margin-top: 60px;
  position: relative;

  & h2 {
    margin: 0 0 1rem;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #3f4551;
    width: 170px;
    height: 2px;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $secondTextColor;
    width: 70px;
    height: 2px;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}