.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    /*height: 300px;*/
    background-color: bisque;
    flex-direction: column;
    padding: 20px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: indianred;
    width: 150px;
    height: 220px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (max-width: 406px) {
    .project {
        min-width: 100px;
    }

}