@import '../../../common/style/sass/variable';
@import '../../../common/style/sass/mixins';

.project {
  @include textPosition(flex, center, nowrap);
  align-items: center;
  width: 350px;
  background-color: $secondbackgroundColor;
  flex-direction: column;
  @media screen and (max-width: 406px) {
    min-width: 100px;
  }

  .img {
    @include textPosition(flex, center, nowrap);
    align-items: center;
    width: 350px;
    height: 220px;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $mainbackgroundColor;
      opacity: 0.4;
    }

    .btn {
      position: relative;
      overflow: hidden;
      z-index: 1;
      padding: 5px 25px;
      margin: 0 20px;
      font-family: $mainFontFamily;
      font-weight: 600;
      line-height: 30px;
      color: $mainbackgroundColor;
      font-size: 15px;
      text-transform: uppercase;
      background: $mainTextColor;
      border-width: 0;
      box-shadow: 5px 5px 0 #695a80;
      outline: none;
      cursor: pointer;
      transition: 1.5s;

      &:before {
        background: #ffeede;
        transition: .8s ease-out;
      }

      &:after {
        transition: .4s ease-in .3s;
      }

      &:hover {
        color: $secondTextColor;
      }

      &:hover:before, &:hover:after {
        opacity: 1;
        transform: scale(4);
      }
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: start;

    .titleSkill {
      @include text(400, 20px);
      color: $secondTextColor;
    }

    .description {
      @include text(400, 15px);
      color: $secondTextColor;
    }
  }
}

