.navigation {
    display: flex;
    justify-content: space-around;
    background-color: darkslateblue;
    align-items: center;
    min-width: 400px;
    height: 80px;
    border: 1px solid;
    text-align: end;
}