@import '../../common/style/sass/variable';
@import '../../common/style/sass/mixins';

.navigation {
  position: relative;
  @include textPosition(flex, space-around, nowrap);
  align-items: center;
  max-width: 400px;
  width: 100%;
  height: 80px;
  text-align: end;
  @include text(700, 18px);
  color: $secondTextColor;
  text-transform: uppercase;
  letter-spacing: .02em;
  line-height: .881em;
  margin: 50px 40px;
  @media screen and (max-width: 406px) {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 10px;

  }

  a {
    position: relative;
    cursor: pointer;
    line-height: 1;
    transition: color .2s ease-out;
    text-decoration: none;
    color: white;

  }
  a:after {
    display: block;
    position: absolute;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;/*задаём длинну линии до наведения курсора*/
    height: 4px; /*задаём ширину линии*/
    background-color: #CBA5EA; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
  }

  a:hover:after,
  a:focus:after {
    width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
  }
}
