@import '../../common/style/sass/variable';
@import '../../common/style/sass/mixins';

.container {
    @include textPosition(flex, space-around, wrap);
    .me {
        align-self: center;
        @include text(400, 30px)

    }
    .Photo {
        background-color: crimson;
        height: 300px;
        width: 300px;
        align-self: center;

    }
}




