.container {
    display: flex;
    justify-content: space-around;
    /*height: 700px;*/
    background-color: antiquewhite;
    flex-wrap: wrap;
}

.me {
    align-self: center;
}

.foto {
    background-color: crimson;
    height: 300px;
    width: 300px;
    align-self: center;

}