@import '../../common/style/sass/variable';
@import '../../common/style/sass/mixins';

.container {
  border: 1px solid;
  @include textPosition(flex, space-between, nowrap);
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 406px) {
    min-height: 900px;
  }
  .list {
    list-style: none;
    @include textPosition(flex, space-around, wrap);
    align-items: center;
    width: 100%;
  }

  .listFooter {
    width: 50px;
    height: 50px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    /*margin: 10px;*/
  }

  .footerEhd {
    display: flex;
    justify-content: center;
  }
}

