.contain{
    /*height: 700px;*/
    background-color: #bb49cc;
    border: 1px solid;
}

.head{
    display: flex;
    justify-content: center;
    background-color: #61dafb;
    height: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 1px solid;
    align-items: center;
    background-color: #61dafb;
    justify-content: center;
}
.input{
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
}

.textarea{
    width: 250px;
    height: 130px;
    border-radius: 10px;
}

@media screen and (max-width: 406px) {
    .input {
        max-width: 150px;
    }
    .textarea {
        max-width: 150px;
    }

}